<% if(typeof errors != 'undefined') { %> 
	<% errors.forEach(function(error) { %>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
  			<%= error.msg %>
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			</button>
		</div>
	<% }); %>
<% } %>

<% if(typeof user != 'undefined' && user.osURL != 'undefined') { %> 
	<% user.osURL.forEach(function(url) { %>
		<ul>
  			<li><%= url %></li>
		</ul>
	<% }); %>
<% } %>
